<h1 id="tableLabel">City Data</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!geoName"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="geoName">
    <thead>
        <tr>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Alternative Names</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ geoName.city }}</td>
            <td>{{ geoName.state }}</td>
            <td>{{ geoName.country }}</td>
            <td>
                <ul>
                  <li *ngFor="let name of geoName.alternativeNames">
                    {{name}}
                  </li>
                </ul>
            </td>
            <td>{{ geoName.latitude }}</td>
            <td>{{ geoName.longitude }}</td>
        </tr>
    </tbody>
</table>